{% extends "SteamBoatBundle:Default:page.html.twig" %}

{% block content %}
    <p class="important">
        <a href="http://steamcommunity.com/profiles/{{ id.getSteamId64 }}">
            <span>{{ id.getNickname }}</span>
        </a>
    </p>
    <p>
    <table>
{#{{ dump(steamId) }}#}
        {% for game in games %}
            <tr>
                <td><a href="http://store.steampowered.com/app/{{ game.getAppId }}" target="_blank">
                        <img src="{{ game.getLogoUrl }}" alt="{{ game.getName }}"/>
                    </a></td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
    </p>
{% endblock %}
