{% extends "SteamBoatBundle:Default:page.html.twig" %}

{% block content %}
    <div class="profile-name">
        <a href="http://steamcommunity.com/profiles/{{ id.getSteamId64 }}">
            <span>{{ id.getNickname }}</span>
        </a>
    </div>
    <div class="profile-games">
        {% for game in games %}
            <span class="profile-game">
                <a href="http://store.steampowered.com/app/{{ game.getAppId }}" target="_blank">
                    <img src="{{ game.getLogoUrl }}" alt="{{ game.getName }}"/>
                </a>
            </span>
        {% endfor %}
    </div>
{% endblock %}
